@import 'socialButtons';

// Hide desktop sharebars
.wr-sharebar {
	display: none;
}

// Functionality is JS-dependent
.client-nojs .wr-sharebar-more {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}

.wr-sharebar-mobile {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	z-index: 10;

	ul {
		background-color: #fff;
		padding: 5px;
	}

	.additionalServices {
		margin-bottom: 0;
	}

	ul.services {
		display: table;
		table-layout: fixed;
		width: 100%;
		border-top: 1px solid #efefef;
		margin: 0;

		li {
			display: table-cell;
			width: 25%;
		}
	}

	.wr-share-link {
		display: inline-block;
		width: 100%;

		.btn-social-round( @color-green ); // Color comes from HelenaResourceLoaderModule );

		&.btn-round-facebook {
			.btn-social-round( @color-social-facebook );
		}

		&.btn-round-google {
			.btn-social-round( @color-social-google );
		}

		&.btn-round-twitter {
			.btn-social-round( @color-social-twitter );
		}

		&.btn-round-whatsapp {
			.btn-social-round( @color-social-whatsapp );
		}

		&.btn-round-telegram {
			.btn-social-round( @color-social-telegram );
		}

		&.btn-round-email {
			.btn-social-round( @color-social-email );
		}
	}
}

.wr-sharebar-getlink {
	.client-nojs & {
		display: none;
	}

	.dropdown {
		position: static;
	}

	.dropdown-menu {
		padding: 0.5em;
		right: 0.5em;
		left: 0.5em;
	}

	input {
		/* stylelint-disable-next-line declaration-no-important */
		min-width: auto !important; // Override the min-width set through JS for desktop
		text-overflow: ellipsis;
		direction: ltr;
	}
}

/* Override direction for url field */
.sitedir-rtl .wr-sharebar-getlink input {
	/* @noflip */
	direction: ltr;
}

/* add margin to footer, to leave space for the sharebar */
footer {
	margin-bottom: 2.5em;
}
