@import "mediawiki.mixins";

@btn-bg: #608835;
@btn-bg-hover: darken(@btn-bg, 5%);

// Hide the mobile sharebar
.wr-sharebar-fixed {
	display: none;
}


/* Fix jQuery UI Dialog priority over Bootstrap elements */
.wr-sharebar-dialog {
    z-index: 1100;
}

.wr-sharebar-modal .modal-content {
    min-height: 500px;
}

.wr-sharebar-desktop {
	position: fixed;
	right: 0;
	top: 192px;
	z-index: 3;

	.dropdown-menu {
		left: auto;
		right: 10px;
	}

    li {
	    list-style:none;
	    height: 45px;
        margin: 0;
        padding: 0 0 0 3px;
        background: #858585;
        a {
            border-bottom: 1px solid #fff;
            height: 45px;
            padding: 3px 8px 3px 5px;
            display: inline-block;
            width: 48px;
        }
        &:hover {
            background-color: #618837;
        }
        &:first-child {
            border-top-left-radius: 4px;
        }
        &:last-child {
            a {
                border-bottom:0;
            }
            border-bottom-left-radius: 4px;
        }
    }
}

.wr-sharebar a.wr-share-link {
    background-repeat: no-repeat;
    display: inline-block;
    min-height: 21px;
    background-position: center left 15px;
    background-size: 50%;
}

/* Print and Link only work with JS */
.client-nojs .wr-sharebar-print,
.client-nojs .wr-sharebar-getlink {
    display: none;
}

.wr-sharebar-print a.wr-share-link {
    .background-image("images/new-design/print.svg");
}
.wr-sharebar-email a.wr-share-link {
    .background-image("images/new-design/email.svg");
}

.wr-sharebar-send a.wr-share-link {
    .background-image("images/send.png");
}

.wr-sharebar-getlink a.wr-share-link {
    .background-image("images/new-design/link.svg");
}

.wr-sharebar-getlink .dropdown-menu {
	padding: 1em;
}

/* Override direction for email field */
.sitedir-rtl .wr-sharebar-getlink input {
	/* @noflip */
	direction: ltr;
}

.wr-sharebar-facebook a.wr-share-link {
    .background-image("images/new-design/facebook.svg");
}

.wr-sharebar-twitter > a.wr-share-link {
    .background-image("images/new-design/twitter.svg");
}

.wr-sharebar-whatsapp > a.wr-share-link {
    .background-image("images/new-design/whatsapp.svg");
}
