@import "mediawiki.mixins";

@btn-bg: #608835;
@btn-bg-hover: darken(@btn-bg, 5%);

// Hide the mobile sharebar
.wr-sharebar-mobile {
	display: none;
}

.wr-sharebar-modal .modal-content {
    min-height: 500px;
}

.wr-sharebar-desktop {
	position: fixed;
	right: 0;
	top: 192px;
	z-index: 3;
	width: 50px;
}

.wr-sharebar-desktop .dropdown-menu {
	left: auto;
	right: 10px;
}

.wr-sharebar-desktop li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	white-space: nowrap;

	&:first-child a {
		border-top-left-radius: 4px;
	}
	&:last-child a {
		border-bottom-left-radius: 4px;
		// border-bottom:0;
	}
}


.wr-share-link {
    background: #858585;
    // border-bottom: 1px solid #fff;
    margin-bottom: 1px;
	padding: 10px;
    display: inline-block;
    max-width: 50px;
	min-width: 50px;
    color: #fff;
    transition: max-width 600ms linear;
    text-decoration: none;
	text-align: center;

    &:hover,
    &:focus,
    &:active {
        background-color: #618837;
        text-align: left;
	    color: #fff;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        max-width: 250px; /* Just a guess, to fit any translation */
	    text-decoration: none;

	    .text {
		    display: inline-block;
	    }
    }

    .fa {
        font-size: 1.5em;
    }
	.text {
		display: none;
		vertical-align: text-bottom;
		margin-left: 5px;
	}
}

/* Print and Link only work with JS */
.client-nojs .wr-sharebar-print,
.client-nojs .wr-sharebar-getlink {
    display: none;
}

.wr-sharebar-getlink .dropdown-menu {
	padding: 1em;
}

/* Override direction for url field */
.sitedir-rtl .wr-sharebar-getlink input {
	/* @noflip */
	direction: ltr;
}
