<div class="dropdown">
	<a href="#" class="wr-share-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">{{text}} <span class="caret" ></span></a>
	<div class="dropdown-menu">
		<div class="input-group">
			<input value="{{link}}" class="form-control" type="text" readonly>
			<span class="input-group-btn">
				<button type="button" data-clipboard-text="{{link}}" class="btn btn-default">
					<span class="fa fa-clipboard"></span>&nbsp;{{btn-text}}
				</button>
			</span>
		</div>
	</div>
</div>
