<div class="wr-sharebar wr-sharebar-fixed hidden-print noprint"{{#id}} id="sharebar-{{.}}"{{/id}}>
	<div id="mobile-share-additional" class="collapse">
		<ul class="additionalServices list-unstyled">
			{{#additionalServices}}
				{{>mobileShareBar.link}}
			{{/additionalServices}}
		</ul>
	</div>
	<ul class="services list-inline">
		{{#services}}
			{{>mobileShareBar.link}}
		{{/services}}
		{{#hasAdditionalServices}}
		<li class="wr-sharebar-more">
			<a class="wr-share-link btn-round-dropbox" rel="nofollow"
			   data-toggle="collapse" href="#mobile-share-additional" data-service="more"
			   role="button" aria-expanded="false" aria-controls="mobile-share-additional"
			>
				<span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-plus fa-stack-1x"></i>
				</span>
				<span class="sr-only">{{moreText}}</span>
			</a>
		</li>
		{{/hasAdditionalServices}}
	</ul>
</div>
