<li class="wr-sharebar-{{name}}">
	<a href="{{url}}" rel="nofollow" class="wr-share-link btn-round-{{name}}" data-service="{{name}}">
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-{{iconClass}}{{^iconClass}}{{name}}{{/iconClass}} fa-stack-1x"></i>
		</span>
		<span class="sr-only">{{text}}{{screenReaderText}}</span>
	</a>
</li>
